<div class="addCityPanel">
    <div>
        <label>Город</label>
        <input id="cityName" ng-model="city.Name">
    </div>
    <div>
        <label>Год основания</label>
        <input id="cityEstablished" ng-model="city.Established">
    </div>
    <div>
        <label>Население</label>
        <input id="cityPopulation" ng-model="city.Population">
    </div>
    <div>
        <label>Код столицы</label>
        <input id="cityCapitalId" ng-model="city.CapitalId">
    </div>
    <button ng-click="AddCity"></button>
</div>
