@{
    Layout = null;
}
<!--
Здесь валидация при добавлении нового города
-->
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserFilter</title>
    <link rel="stylesheet" type="text/css" href="~/app/css/addCity.css" />
</head>
<body ng-app="worldApp">
    <div ng-controller="cityController">
        <!--
        <div ng-repeat="city in Cities | filter:milleniumFunc">
          -->
        <div ng-repeat="city in Cities">
            <input name="cityId"
                   type="radio"
                   value="{{city.Id}}" /> {{city.Name}} - {{city.Established}}
        </div>
        <!--
        @Html.Partial("AddCityPanel")
            -->
    </div>
    
    <script src="~/app/js/lib/angular.min.js"></script>
    <script src="~/app/js/lib/angular-resource.js"></script>
    <script src="~/app/js/lib/angular-resource.min.js"></script>
    <script src="~/app/js/controller/country.js"></script>
    <script src="~/app/js/controller/city.js"></script>
    <script src="~/app/js/directive/dataService.js"></script>
    <script src="~/app/js/factory/cityService.js"></script>
    <script src="~/app/js/factory/countryService.js"></script>
</body>
</html>
