@{
    Layout = "~/Views/Shared/_Links.cshtml";
}
<div ng-app="worldApp">
    <div ng-controller="countryController">
        <!--
        <country-list>preved, Медвед!!!</country-list>
        -->
        <compile-country-list>

        </compile-country-list>

        <div>

            <select>
                <option ng-repeat="country in Countries">
                    {{country.Id}} - {{country.Name}}
                </option>
            </select>
        </div>
     </div>
  
</div>

<script type="text/ng-template" id="CountryList.html">
    <select>
        <!--
        <option ng-repeat="country in Countries">
            {{country.Id}} - {{country.Name}}
        </option>
        -->
        <option>Preved!!</option>
        <option>Medved!!</option>
    </select>

</script>

