@{
    Layout = "~/Views/Shared/_Links.cshtml";
}
<div ng-app="worldApp">
    <div  ng-controller="countryController">
        <div ng-repeat="country in Countries ">
            <input 
                    name="cityId"
                    type="radio"
                    value="{{country.Id}}"> {{country.Name}}
        </div>
    </div>
    preved!!!DSfsdf
</div>