
@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="countriesApp">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/app/js/lib/angular.min.js"></script>
    <script src="~/app/js/controller/countries.js"></script>
    <script src="~/app/js/directive/dataService.js"></script>
</head>
<body ng-controller="countriesController">
    <div> 
        <input type="text" ng-model="testText" placeholder="Введите имя"/>
        <h1>Добро пожаловать {{testText}}</h1>
        <h2>Таймер: {{counterValue}}</h2>
        <h3><input type="button" value="Отменить таймер" ng-click="cancelTimer()"/></h3>
        <input type="button" value="change" ng-click="changeText()"/>
        <div>
            <input type="button" value="Цикл"/>
        </div>
        <div>
            @Html.ActionLink("Другой вид", "Redirect");
        </div>
    </div>
   
</body>
</html>
