
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Other</title>
</head>
<body ng-app="worldApp">
    <div>jlsdfsdfd</div>
    <ng-include src="'CityList.html'"></ng-include>
    <script src="~/app/js/lib/angular.min.js"></script>
    <script src="~/app/js/controller/country.js"></script>
    <script src="~/app/js/controller/city.js"></script>
</body>
</html>
