
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Other</title>
</head>
<body>
    <div>
        <h2>Это другой вид</h2> 
        <div>
            @Html.ActionLink("Обратно", "Redirect", new { number_ = 0 });
        </div>
    </div>
</body>
</html>
