
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/app/js/lib/angular.min.js"></script>
    <script src="~/app/js/lib/angular-resource.js"></script>
    <script src="~/app/js/lib/angular-resource.min.js"></script>
    <script src="~/app/js/controller/country.js"></script>
    <script src="~/app/js/controller/city.js"></script>
    <script src="~/app/js/directive/dataService.js"></script>
    <script src="~/app/js/factory/cityService.js"></script>
    <script src="~/app/js/factory/countryService.js"></script>
</head>
<body>
    @RenderBody()
</body>
</html>
